<%- include("../partials/header")%>



<div class="container">
    <h1 class="text-center"> Create a new Campground </h1> <!-- we could also do: <h1 style="text-align: center;" > same as BS3 class="text-center" -->
    <div class="row">
        <!-- don't use grid here: <div class="col-xs-3"> this does not work! -->
        <div style="width: 30%; margin: 30px auto;">    

            <!-- action: points to "/campgrounds", REST format -->
            <form action = "/campgrounds" method ="POST">

                <!-- campground name -->
                <div class="form-group">    <!-- adds margin below the input elt-->
                    <input class="form-control" type="text" placeholder="campground name" name ="campground[name]"> 
                </div>

                <!-- campground image url -->
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="image url" name ="campground[image]"> 
                </div>

                <!-- campground price: min: $0.01, steps in pennies/cents -->
                <div class="form-group">
                    <input class="form-control" type="number" placeholder="price" name="campground[price]" min="0.01" step="0.01">
                </div>

                <!-- campground description -->
                <div class="form-group">
                    <!-- <input class="form-control" type="text" placeholder="description" name ="description">  -->
                    <!-- for placeholder to appear, make sure there is NO whitespace between the <textarea></textarea> tags -->
                    <textarea class="form-control" placeholder="camground description" name="campground[description]" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <!-- btn-block ==> makes btn into block element -->
                    <button class="btn btn-lg btn-primary btn-block"> Submit </button>
                </div>
    
            </form>
            
            <!-- BS3 makes it so easy to have <a> tags as buttons -->
            <a class=" btn btn-default" href="/campgrounds"> See All Campgrounds </a>
        </div>
    </div>
</div>


<%- include("../partials/footer")%>

